<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>AltaVida</span>
	</mat-toolbar-row>
</mat-toolbar>

<div class="container text-center">
	<img src="assets/img/logo.jpg" alt="0">
</div>

<h2 class="mat-h2 text-center">
	Este es el primer paso para descubrir cuál es el Estilo de Alimentación que más te beneficia a corto, mediano y largo plazo. 
</h2>

<h2 class="mat-h2 text-center">
	Esta información, al igual que tu tiempo, es muy valiosa. Por eso, hemos diseñado este test para que sea lo más completo posible y a la vez lo más rápido de contestar. En promedio, a las personas les toma de 20 minutos el contestar este test.
</h2>

<h2 class="mat-h2 text-center">
	Ten a la mano una cinta para medirte y una bascula para conocer tu peso actual.
</h2>

<div [hidden]="!showInitialForm">
	<form>
		<mat-card class="example-card">
			<mat-card-header>
				<mat-card-title>
					SECCIÓN I Información Personal
				</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<div class="example-container">
					<mat-form-field>
						<input [(ngModel)]="initialForm.nombre" name="nombre" #nombre="ngModel" matInput placeholder="**Nombre completo">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.fechaDeNacimiento" name="fechaDeNacimiento" #fechaDeNacimiento="ngModel" matInput [matDatepicker]="picker" placeholder="**Fecha de nacimiento">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
					
					<h4>**Genero</h4>
					<mat-form-field>
						<select [(ngModel)]="initialForm.genero" name="genero" #genero="ngModel" matNativeControl required>
							<option value="">Selecciona</option>
							<option value="1">Mujer</option>
							<option value="1">Hombre</option>
						</select>
					</mat-form-field>

					<h4>Estado civil</h4>
					<mat-form-field>
						<select [(ngModel)]="initialForm.estadoCivil" name="estadoCivil" #estadoCivil="ngModel" matNativeControl required>
							<option value="">Selecciona</option>
							<option value="1">Casado</option>
							<option value="2">Soltero</option>
							<option value="3">Union Libre</option>
						</select>
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.numeroDeFamilia" name="numeroDeFamilia" #numeroDeFamilia="ngModel" matInput placeholder="Número de integrantes en tu familia">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.email" name="email" #email="ngModel" matInput placeholder="**Email">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.telefono" name="telefono" #telefono="ngModel" matInput placeholder="**Teléfono">
					</mat-form-field>

					<h4>**¿Como te enteraste de nosotros?</h4>
					<mat-form-field>
						<select [(ngModel)]="initialForm.comoTeEnteraste" name="comoTeEnteraste" #comoTeEnteraste="ngModel" matNativeControl required>
							<option value="">Selecciona</option>
							<option value="1">Google</option>
							<option value="2">Facebook</option>
							<option value="3">Instagram</option>
							<option value="4">Recomendación</option>
						</select>
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.dondeVives" name="dondeVives" #dondeVives="ngModel" matInput placeholder="**¿En que pais y ciudad vives?">
					</mat-form-field>
				</div>
			</mat-card-content>
		</mat-card>

		<!-- Card 2 -->
		<mat-card class="example-card">
			<mat-card-header>
				<mat-card-title>
					SECCIÓN II Historial Nutricional. Tu salud es lo más importante
				</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<div class="example-container">
					<mat-form-field>
						<input [(ngModel)]="initialForm.pesoActual" name="pesoActual" #pesoActual="ngModel" type="number" matInput placeholder="**¿Cuál es tu peso actualmente?">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.estatura" name="estatura" #estatura="ngModel" type="number" matInput placeholder="**¿Cuál es tu estatura?">
					</mat-form-field>

					<mat-form-field>
						<input type="number" [(ngModel)]="initialForm.circunferenciaAbdominal" name="circunferenciaAbdominal" #circunferenciaAbdominal="ngModel" matInput placeholder="¿Cuál es tu circunferencia abdominal? (en cm) Mide tu abdomen, que la cinta pase justo a la altura de tu ombligo. Toma tres veces la medida y anota todas las mediciones obtenidas.">
					</mat-form-field>

					<mat-form-field>
						<input type="number" [(ngModel)]="initialForm.circunferenciaCadera" name="circunferenciaCadera" #circunferenciaCadera="ngModel" matInput placeholder="¿Cuál es tu circunferencia de cadera? (en cm)">
					</mat-form-field>

					<mat-form-field>
						<input matInput [(ngModel)]="initialForm.realizasEjercicio" name="realizasEjercicio" #realizasEjercicio="ngModel" placeholder="¿Realizas algún tipo de ejercicio? ¿Cuál? ¿Con qué frecuencia? ¿En qué horario?">
					</mat-form-field>

					<mat-form-field>
						<input matInput [(ngModel)]="initialForm.consumesAlimentosEjercicio" name="consumesAlimentosEjercicio" #consumesAlimentosEjercicio="ngModel" placeholder="¿Consumes algún alimento, bebida o suplemento antes/durante/final del ejercicio? ¿Cuál?">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.fumas" name="fumas" #fumas="ngModel" matInput placeholder="¿Fumas? ¿Con qué Frecuencia?">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.agualAlDia" name="agualAlDia" #agualAlDia="ngModel" matInput placeholder="**¿Cuánta agua natural consumes al día?">
					</mat-form-field>

					<mat-form-field>
						<input matInput [(ngModel)]="initialForm.tomasCafe" name="tomasCafe" #tomasCafe="ngModel" placeholder="¿Consumes café? ¿Con qué frecuencia? ¿Cómo lo preparas?">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.tomasAlcohol" name="tomasAlcohol" #tomasAlcohol="ngModel" matInput placeholder="¿Consumes alcohol? ¿Con qué frecuencia?">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.cocinas" name="cocinas" #cocinas="ngModel" matInput placeholder="¿Sueles cocinar tus alimentos o alguien lo hace por ti?">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.estasEnfermo" name="estasEnfermo" #estasEnfermo="ngModel" matInput placeholder="¿Has padecido alguna enfermedad importante? ¿Cuál?">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.tomasMedicina" name="tomasMedicina" #tomasMedicina="ngModel" matInput placeholder="¿Tomas algún medicamento actualmente? ¿Cuál? ¿Qué dosis? ¿Desde cuándo?">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.tomasLaxante" name="tomasLaxante" #tomasLaxante="ngModel" matInput placeholder="¿Actualmente tomas algún laxante, diurético o antiácido?">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.cirugias" name="cirugias" #cirugias="ngModel" matInput placeholder="¿Te han practicado alguna cirugía? ¿Cuál?">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.familiarEnfermo" name="familiarEnfermo" #familiarEnfermo="ngModel" matInput placeholder="**¿Algún familiar directo ha padecido alguna enfermedad como diabetes, presión alta, cáncer, lípidos elevados o alguna otra? ¿Quién?">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.cuantasVecesComes" name="cuantasVecesComes" #cuantasVecesComes="ngModel" matInput placeholder="**¿Cuántas comidas realizas al día?">
					</mat-form-field>

					<mat-form-field>
						<input matInput [(ngModel)]="initialForm.comesAfuera" name="comesAfuera" #comesAfuera="ngModel" placeholder="¿Comes fuera de casa? ¿Cuántos días a la semana? ¿Puedes llevar comida preparada?">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.tomasMedicina" name="tomasMedicina" #tomasMedicina="ngModel" matInput placeholder="¿Consumes algún suplemento o vitaminas? ¿Cuál? ¿En qué dosis?">
					</mat-form-field>

					<mat-form-field>
						<input [(ngModel)]="initialForm.alergiasAlimento" name="alergiasAlimento" #alergiasAlimento="ngModel" matInput placeholder="**¿Presentas alergia o intolerancia a algún alimento?">
					</mat-form-field>

					<mat-form-field>
						<textarea [(ngModel)]="initialForm.alimentoQueNoTeDesagrade" name="alimentoQueNoTeDesagrade" #alimentoQueNoTeDesagrade="ngModel" matInput placeholder="**¿Existe algún alimento que te desagrade?" cols="30" rows="5"></textarea>
					</mat-form-field>

					<mat-form-field>
						<textarea [(ngModel)]="initialForm.verdurasQueTeGusten" name="verdurasQueTeGusten" #verdurasQueTeGusten="ngModel" matInput placeholder="**¿Cuáles son las frutas y verduras de mayor agrado para ti?" cols="30" rows="5"></textarea>
					</mat-form-field>

					<mat-form-field>
						<textarea [(ngModel)]="initialForm.alimentoQueNoTeGuste" name="alimentoQueNoTeGuste" #alimentoQueNoTeGuste="ngModel" matInput placeholder="**¿Qué alimento no es de tu agrado?" cols="30" rows="5"></textarea>
					</mat-form-field>

					<mat-form-field>
						<textarea [(ngModel)]="initialForm.desayuno" name="desayuno" #desayuno="ngModel" matInput placeholder="Desayuno" cols="30" rows="5"></textarea>
					</mat-form-field>

					<mat-form-field>
						<textarea [(ngModel)]="initialForm.snackUno" name="snackUno" #snackUno="ngModel" matInput placeholder="Entre comida por la mañana" cols="30" rows="5"></textarea>
					</mat-form-field>

					<mat-form-field>
						<textarea [(ngModel)]="initialForm.comida" name="comida" #comida="ngModel" matInput placeholder="Comida" cols="30" rows="5"></textarea>
					</mat-form-field>

					<mat-form-field>
						<textarea [(ngModel)]="initialForm.snackDos" name="snackDos" #snackDos="ngModel" matInput placeholder="Entre comida por la tarde" cols="30" rows="5"></textarea>
					</mat-form-field>

					<mat-form-field>
						<textarea [(ngModel)]="initialForm.cena" name="cena" #cena="ngModel" matInput placeholder="Cena" cols="30" rows="5"></textarea>
					</mat-form-field>
				</div>
			</mat-card-content>
		</mat-card>

		<!-- Card 3 -->
		<mat-card class="example-card">
			<mat-card-header>
				<mat-card-title>
					SECCIÓN III La razón por la que deseas encontrar tu Estilo de Alimentación
				</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<div class="example-container">
					<mat-form-field>
						<textarea [(ngModel)]="initialForm.propositoPrincipal" name="propositoPrincipal" #propositoPrincipal="ngModel" matInput placeholder="¿Cuál el propósito principal para construir tu estilo de alimentación?" cols="30" rows="5"></textarea>
					</mat-form-field>

					<mat-form-field>
						<textarea [(ngModel)]="initialForm.razonPrincipal" name="razonPrincipal" #razonPrincipal="ngModel" matInput placeholder="**¿Cuál es tu razón principal para seguir este Estilo de Alimentación?" cols="30" rows="5"></textarea>
					</mat-form-field>

					<mat-form-field>
						<textarea [(ngModel)]="initialForm.metaProxima" name="metaProxima" #metaProxima="ngModel" matInput placeholder="¿Cuál es tu meta más próxima?" cols="30" rows="5"></textarea>
					</mat-form-field>

					<mat-form-field>
						<textarea [(ngModel)]="initialForm.metaSeisMeses" name="metaSeisMeses" #metaSeisMeses="ngModel" matInput placeholder="¿Cuál es tu meta a alcanzar en 6 meses?" cols="30" rows="5"></textarea>
					</mat-form-field>

					<mat-form-field>
						<textarea matInput [(ngModel)]="initialForm.metaUnAnio" name="metaUnAnio" #metaUnAnio="ngModel" placeholder="¿Cuál es tu meta a alcanzar en 1 año?" cols="30" rows="5"></textarea>
					</mat-form-field>

					<mat-form-field>
						<textarea [(ngModel)]="initialForm.metaDosAnios" name="metaDosAnios" #metaDosAnios="ngModel" matInput placeholder="¿Cuál es tu meta a alcanzar en 2 años?" cols="30" rows="5"></textarea>
					</mat-form-field>

					<mat-form-field>
						<textarea [(ngModel)]="initialForm.saludVejes" name="saludVejes" #saludVejes="ngModel" matInput placeholder="¿Cómo te gustaría que fuera tu salud cuando llegues a una edad avanzada?" cols="30" rows="5"></textarea>
					</mat-form-field>
				</div>
			</mat-card-content>
		</mat-card>
	</form>
</div>
